[package]
name = "db"
version = "0.1.0"
edition = "2024"

[dependencies]
buildstructor = { version = "0.6.0", default-features = false }
diesel.workspace = true
r2d2 = { version = "0.8.10", default-features = false }
